@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --widgetBG: inherit;
    --BG: inherit;
}

* {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: bolder;
}

html, body {
    margin: 0;
    padding: 0;
}